@font-face {
    font-family: "roboto-rg";
    src: url(./../font/Roboto-Regular.ttf);
}

@font-face {
    font-family: "roboto-tn";
    src: url(./../font/Roboto-Thin.ttf);
}

@font-face {
    font-family: "roboto-it";
    src: url(./../font/Roboto-Italic.ttf);
}

@font-face {
    font-family: "roboto-bd";
    src: url(./../font/Roboto-Bold.ttf);
}

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container
{
    background: url(./../img/page_not_found.jpg);
    background-size: contain;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

h2
{
    color: #565C73;
    text-align: center;
    font-family: "roboto-it";
    font-size: 14.4px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

p:nth-of-type(1)
{
    color: #e3dbcf80;
    opacity: 0.6;
    text-align: center;
    font-family: "roboto-bd";
    font-size: 165px;
    margin-top: 120px;
    margin-bottom: 2%;
}

p:nth-of-type(2)
{
    color: #e3dbcfbc;
    opacity: 0.9;
    text-align: center;
    font-family: "roboto-rg";
    font-size: 34px;
    margin-bottom: 14px;
}

p:nth-of-type(3)
{
    color: #e3dbcfbc;
    text-align: center;
    font-family: "roboto-tn";
    font-size: 14px;
    margin-bottom: 10%;
}

.button
{
    color: #e3dbcfbc;
    opacity: 0.7;
    text-align: center;
    font-family: "roboto-tn";
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    border: 0.5px solid;
    border-radius: 2px;
    padding: 8px;
}